body{
    
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
}
.section{
    display: flex;
}
.introduction{
    background-image: url(background/bg5.jpeg);
   
}
#name{
    color: chocolate;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    color: whitesmoke;
}
.half-width img{
    width: 70%;
}
.Menu{
    background-image: url(/background/bg2.jpeg);
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    height: 500px;
    z-index: 1;
}
menu{
    z-index: 2;
}
h3{
    color: rgb(15, 14, 14);
    font-size: 40px;
}
ul{
    list-style: disc;
    font-size: 30px;
    font-style: bold;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    color: whitesmoke;

}
.second{
    width: 50%;
    padding-right: 5%;
}
.second img{
    width: 80%;
}
.order-button{
    background-color: rgb(185, 35, 35);
    color: rgb(248, 246, 246);
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
}